p.google {
	margin-top: -0.5em;
	margin-bottom: -1em;
}
p.google img {
	display: block;
	margin: 0 auto;
	width: 40%;
}

p.coffee img {
	display: block;
	margin: 0 auto;
	width: 40%;
	margin-bottom: 1.5em;
}

p.kofi img {
	display: block;
	margin: 0 auto;
	width: 40%;
	margin-bottom: 1.5em;
}

p.wishlist img {
	display: block;
	margin: 0 auto;
	width: 40%;
}

div#donate-button-container {
	margin-bottom: 1.5em;
}

img#donate-button {
	display: block;
	margin: 0 auto;
	width: 40%;
}

p.sponsor img {
	display: block;
	margin: 0 auto;
	width: 40%;
}
