img.statue {
	max-width: 92px;
	max-height: 92px;
	display: block;
	margin: 0 auto;
}
table.visual tr:first-child {
	text-align: center;
}
table.visual td:not(:first-child) {
	width: 50%;
	padding-left: 10px;
	padding-right: 10px;
}
