body {
	background: linear-gradient(
		rgba(0, 0, 0, 0.8),
		rgba(0, 0, 0, 0.8)
	),
	url(https://tinyurl.com/5c5dcpj8),
	linear-gradient(to right,
		rgba(17, 16, 24, 1),
		rgba(32, 48, 144, 1)
	);
	background-size: 100% auto;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center bottom;
	font-size: medium;
	color: white;
	clear: both;
	overflow-x: hidden;
}

/* Slideout Button */
#menubtn {
	position: fixed;
	z-index: 2;
	color: white;
	top: 20px;
	left: 2px;
	font-size: 16px;
	border: none;
	cursor: pointer;
	text-align: center;
}
#menubtn img {
	width: 96px;
	height: 154px;
	margin-bottom: 2px
}
#menubtn.opened {
	transition: 0.5s;
	-moz-transition: 0.5s;
	-o-transition: 0.5s;
	-webkit-transition: 0.5s;
}
#menubtn.closed {
	padding-left: 0px;
	transition: 0.5s;
	-moz-transition: 0.5s;
	-o-transition: 0.5s;
	-webkit-transition: 0.5s;
}

#sidenav {
	background-image: linear-gradient(#00acc1, #66bb6a, #7cb342);
	height: 100%; /* 100% Full-height */
	width: 0; /* 0 width - change this with JavaScript */
	position: fixed; /* Stay in place */
	z-index: 2; /* Stay on top */
	top: 0; /* Stay at the top */
	left: 0;
	background-color: #111; /* Black*/
	overflow-x: hidden; /* Disable horizontal scroll */
	padding-top: 8px;
	transition: 0.5s;
	-moz-transition: 0.5s;
	-o-transition: 0.5s;
	-webkit-transition: 0.5s;
}
#sidenav a:hover {
	color: #eeeeee;
}

.disclaimer {
	position: relative;
	width: 90%;
	height: auto;
	left: 6%;
	bottom: 0;
	padding-bottom: 12px;
}

.counter {
	position: relative;
	width: 88%;
	height: auto;
	left: 6%;
	bottom: 0;
	padding-top: 12px;
	padding-bottom: 12px;
}

/* The navigation menu items */
a.menuitem {
	padding: 24px 6px 6px 24px;
	text-decoration: none;
	font-size: 28px;
	color: #444444;
	display: block;
	transition: 0.3s;
	-moz-transition: 0.3s;
	-o-transition: 0.3s;
	-webkit-transition: 0.3s;
}
a.menuitem img {
	width: 36px;
	height: 36px;
	vertical-align: text-bottom;
	margin-right: 24px;
}
a.menuitem img.indent {
	width: 46px;
	padding-right: -10px;
	margin-right: 14px;
}
a.dropdown {
	cursor: pointer;
	padding: 24px 8px 8px 24px;
	text-decoration: none;
	font-size: 28px;
	color: #444444;
	display: block;
	transition: 0.3s;
	-moz-transition: 0.3s;
	-o-transition: 0.3s;
	-webkit-transition: 0.3s;
}
a.dropdown img {
	width: 36px;
	height: 36px;
	vertical-align: text-bottom;
	margin-right: 24px;
}
a.dropitem {
	padding: 24px 8px 0px 32px;
	text-decoration: none;
	font-size: 24px;
	color: #444444;
	display: none;
	transition: 0.3s;
	-moz-transition: 0.3s;
	-o-transition: 0.3s;
	-webkit-transition: 0.3s;
}
a.dropitem img {
	width: 32px;
	height: 32px;
	vertical-align: text-bottom;
	margin-right: 32px;
}

/* Tooltip container */
.tooltip {
	position: relative;
	display: inline-block;
}
/* Tooltip text */
.tooltip .tiptext {
	visibility: hidden;
	width: 140px;
	font-size: 18px;
	background-color: #555;
	color: #fff;
	text-align: center;
	padding: 5px 0;
	border-radius: 6px;
	/* Position the tooltip text */
	position: absolute;
	z-index: 1;
	bottom: 125%;
	left: 50%;
	margin-left: -60px;
	/* Fade in tooltip */
	opacity: 0;
	transition: opacity 0.3s;
	/* Disable tooltip click */
	pointer-events: none;
}
/* Tooltip arrow */
.tooltip .tiptext::after {
	content: "";
	position: absolute;
	top: 100%;
	left: 50%;
	margin-left: -5px;
	border-width: 5px;
	border-style: solid;
	border-color: #555 transparent transparent transparent;
}
/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tiptext {
	visibility: visible;
	opacity: 1;
}

.translate {
	position: fixed;
	margin-top: 200px;
}
.translate img {
	padding-left: 6px;
	width: 76px;
	height: 76px;
}

@keyframes zoom {
	from {transform:scale(0)}
	to {transform:scale(1)}
}
